/* Mobile Layout: 320px */
@media only screen and (max-width: 767px) {
  /* CSS Rules */
  body {
    display: flex;
    justify-content: center;
    background: rgb(6, 182, 212);
    background: linear-gradient(
      270deg,
      rgba(6, 182, 212, 1) 0%,
      rgba(165, 243, 252, 1) 35%,
      rgba(6, 182, 212, 1) 100%
    );
  }
  .cardcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .card {
    width: 80vw;
    height: 240px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #1f2937;
    font-family: "Courier New", Courier, monospace;
    margin: 1rem;
  }

  .avatar {
    height: clamp(50px, 100px, 18vw);
    width: clamp(50px, 100px, 18vw);
    border: 3px solid #0e7490;
    border-radius: 50%;
  }

  .left {
    width: 30vw;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right {
    width: 50vw;
    height: 180px;
    padding-left: 2em;
    border-left: 2px solid #06b6d4;
    color: #ecfeff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 2vw;
  }

  p {
    height: 30px;
    line-height: 30px;
    margin: 0;
  }
}

/* Tablet Layout: 768px */
@media only screen and (min-width: 768px) {
  /* CSS Rules */
  .cardcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    justify-content: space-evenly;
    padding: 0;
    width: 100vw;
  }

  body {
    display: flex;
    justify-content: center;
    background: rgb(6, 182, 212);
    background: linear-gradient(
      270deg,
      rgba(6, 182, 212, 1) 0%,
      rgba(165, 243, 252, 1) 35%,
      rgba(6, 182, 212, 1) 100%
    );
  }
  .card {
    width: clamp(370px, 450px, 45vw);
    height: 240px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #1f2937;
    font-family: "Courier New", Courier, monospace;
    margin: 1rem;
  }

  .avatar {
    height: 100px;
    width: 100px;
    border: 5px solid #0e7490;
    border-radius: 50%;
  }

  .left {
    /* width: 100px; */
    /* height: 120px; */
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right {
    width: auto;
    height: 180px;
    padding-left: 2em;
    border-left: 2px solid #06b6d4;
    color: #ecfeff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 15px;
  }

  p {
    max-height: 30px;
    line-height: 30px;
    margin: 0;
    overflow: hidden;
  }
}

/* Large Desktop Layout: 1200px */
@media only screen and (min-width: 1200px) {
  /* CSS Rules */

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    background: rgb(6, 182, 212);
    background: linear-gradient(
      270deg,
      rgba(6, 182, 212, 1) 0%,
      rgba(165, 243, 252, 1) 35%,
      rgba(6, 182, 212, 1) 100%
    );
  }

  .card {
    width: clamp(600px, 800px, 42vw);
    height: 300px;
    display: flex;
    border-radius: 10px;
    background-color: #1f2937;
    font-family: "Courier New", Courier, monospace;
    margin: 1rem;
    box-shadow: 8px 8px 24px 0px rgba(22, 78, 99, 1);
  }

  .avatar {
    height: 150px;
    width: 150px;
    border: 3px solid #0e7490;
    border-radius: 50%;
    overflow: hidden;
  }

  .left {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right {
    width: clamp(500px, 600px, 70%);
    height: 300px;
    border-radius: 10px;
    padding-left: 2rem;
    border-left: 2px solid #06b6d4;
    color: #ecfeff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
