:root{
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 767px) {

    .container{
      max-width: 100%;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .comment{
        width: 90%;
        max-width: 90%;
        padding: 20px;
        background-color: #a5f3fc;  
        border: 1px solid #164e63;
        border-left: 5px solid #164e63;
        margin-top: 10px;
        overflow: hidden;
    }

    .user{
        max-width: 100%;
        height: 30px;
        line-height: 30px;
        padding-left: 10px;
    }
    
    .text{
        background-color: #ecfeff;
        padding-left: 15px;
        line-height: 30px;
        margin-bottom: 10px;
        overflow-y: auto;
        max-width: 100%;
    }
    

}

@media only screen and (min-width: 768px) {


    .container{
      max-width: 100%;
      overflow-x: hidden;
      display: flex;
        flex-direction: column;
        align-items: center;
    }

    .comment{
        width: 95%;      
        padding: 20px;
        background-color: #a5f3fc;  
        border: 1px solid #164e63;
        border-left: 5px solid #164e63;
        margin-top: 10px;
        overflow: hidden;
    }

    .user{
        max-width: 100%;
        height: 30px;
        line-height: 30px;
        padding-left: 10px;
        overflow-y: auto;
    }
    
    .text{
        background-color: #ecfeff;
        padding-left: 15px;
        line-height: 30px;
        margin-bottom: 10px;
        overflow-y: auto;
        overflow-wrap: break-word;
        max-width: 100%;
    }
    

}

@media only screen and (min-width: 1200px) {
    .container{
        max-width: 100%;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    .comment{
        width: 95%;
        padding: 20px;
        background-color: #a5f3fc;
        border: 1px solid #164e63;
        border-left: 5px solid #164e63;
        margin-top: 10px;
        overflow: hidden;
    }

    .user{
        max-width: 100%;
        height: 30px;
        line-height: 30px;
        padding-left: 10px;
        overflow-y: auto;
    }
    
    .text{
        max-width: 100%;
        overflow-y: auto;
        overflow-wrap: break-word;
        background-color: #ecfeff;
        padding-left: 15px;
        line-height: 30px;
        margin-bottom: 10px;
        overflow-y: auto;
    }
    

}

