
@media only screen and (max-width: 767px) {


    .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        margin-bottom: 30px;
    }


    .toggle{
        width: 5%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .button{
        color: #22d3ee;
        margin: 0;
        transition-duration: 0.3s;
    }

    .button:hover{
        color: #67e8f9;
        transform: rotateZ(180deg) scale(1.25);
    }

    .closed{
        transform: translateY(-50px);
    }

.container{
    height: 50px;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;   
    justify-content: space-evenly;
    transition-duration: 0.15s;
}
li{
    width: 25%;
    height: 100%;
    list-style-type: none;
    display: grid;
    grid-template-columns: 25% auto;
    align-items: center;
    padding-left: 20px;  
    transition-duration: 0.2s;
}

.link{
    margin-left: 10px;
    text-decoration: none;
    color: #cffafe;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.75rem;
}
}

@media only screen and (min-width: 768px) {
 
    .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        margin-bottom: 30px;
    }
    .toggle{
        width: 5%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .button{
        color: #22d3ee;
        margin: 0;
        transition-duration: 0.3s;
    }

    .button:hover{
        color: #67e8f9;
        transform: rotateZ(180deg) scale(1.25);
    }

    .closed{
        transform: translateY(-50px);
    }


.container{
    height: 50px;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;   
    justify-content: space-evenly;
    margin-bottom: 30px;
}
li{
    width: 25%;
    height: 100%;
    list-style-type: none;
    display: grid;
    grid-template-columns: 25% auto;
    align-items: center;
    padding-left: 20px;  
    transition-duration: 0.2s;
}

li:hover{
    border-bottom: 1px solid #0891b2;
    border-radius: 10px;
}

.link{
   text-decoration: none;
    color: #cffafe;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}
}
@media only screen and (min-width: 1200px) {

.container{
    height: 50px;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;   
    justify-content: space-evenly;
    border-bottom-left-radius: 10px;
    transition-duration: 0.15s; 
    /* background: rgb(8,145,178); */
    /* background: linear-gradient(179deg, rgba(8,145,178,1) 0%, rgba(24,24,27,1) 100%); */
    padding: 0;
    margin: 0;
}

li{
    width: 25%;
    height: 100%;
    list-style-type: none;
    display: grid;
    grid-template-columns: 25% auto;
    align-items: center;
    padding-left: 20px;  
    transition-duration: 0.2s;
}

li:hover{
    border-bottom: 1px solid #0891b2;
    border-radius: 10px;
}

.link{
        text-decoration: none;
        color: #cffafe;
        font-family: 'Courier New', Courier, monospace;
        font-size: 1.5rem;
    }
    
    .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        margin-bottom: 30px;
    }
    .toggle{
        width: 5%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .button{
        color: #22d3ee;
        margin: 0;
        transition-duration: 0.3s;
    }

    .button:hover{
        color: #67e8f9;
        transform: rotateZ(180deg) scale(1.25);
    }

    .closed{
        transform: translateY(-50px);
    }
}
