
@media only screen and (max-width: 767px) {

.container{
    height: 50px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;   
    justify-content: space-evenly;
    background-color: #155e75;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}
li{
    width: 25%;
    height: 100%;
    list-style-type: none;
    display: grid;
    grid-template-columns: 25% auto;
    align-items: center;
    padding-left: 20px;  
    transition-duration: 0.2s;
}

li:hover{
background-color: #0891b2;
}

.link{
        margin-left: 10px;
   text-decoration: none;
    color: #cffafe;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.75rem;
}
}

@media only screen and (min-width: 768px) {

.container{
    height: 50px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;   
    justify-content: space-evenly;
    background-color: #155e75;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}
li{
    width: 25%;
    height: 100%;
    list-style-type: none;
    display: grid;
    grid-template-columns: 25% auto;
    align-items: center;
    padding-left: 20px;  
    transition-duration: 0.2s;
}

li:hover{
background-color: #0891b2;
}

.link{
   text-decoration: none;
    color: #cffafe;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}
}
@media only screen and (min-width: 1200px) {

.container{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;   
    justify-content: space-evenly;
    background-color: #155e75;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

li{
    width: 25%;
    height: 100%;
    list-style-type: none;
    display: grid;
    grid-template-columns: 25% auto;
    align-items: center;
    padding-left: 20px;  
    transition-duration: 0.2s;
}

li:hover{
background-color: #0891b2;
}

.link{
        text-decoration: none;
        color: #cffafe;
        font-family: 'Courier New', Courier, monospace;
        font-size: 1.5rem;
    }
}
