body {
    margin: 0;
    padding: 0;
    background: rgb(24,24,27);
    background: linear-gradient(165deg, rgba(24,24,27,1) 0%, rgba(21,94,117,1) 50%, rgba(24,24,27,1) 100%);
    display: flex;
    align-items: flex-start;
}
